<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>906757599558-j5qt985o1ir6ge9r0a9n3kp4rn3hnjdl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.906757599558-j5qt985o1ir6ge9r0a9n3kp4rn3hnjdl</string>
	<key>API_KEY</key>
	<string>AIzaSyBolAg6ADDq04PyFbz8mL28MfFvcpFliv0</string>
	<key>GCM_SENDER_ID</key>
	<string>906757599558</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sunlight.PokeFinder</string>
	<key>PROJECT_ID</key>
	<string>pokefinder-e85a5</string>
	<key>STORAGE_BUCKET</key>
	<string>pokefinder-e85a5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:906757599558:ios:a532ef14c3d67ff8</string>
	<key>DATABASE_URL</key>
	<string>https://pokefinder-e85a5.firebaseio.com</string>
</dict>
</plist>